In [ ]:
def message (number):
  print("enter a number:",number)

number = 1234
message(1)
print(number)

enter a number: 1
1234

In [ ]:
def message (what,number):
  print("enter",what,"number",number)

#invoke the function
message("telephone",11)
message("price",5)
message("number", "number")

enter telephone number 11
enter price number 5
enter number number number

In [ ]:
def my_function(a ,b ,c):
  print(a,b,c)

my_function(1 ,2 ,3)

def introduction(first_name, last_name):
  print("hello,my name is",first_name ,last_name)

introduction("skywalker", "luke")
introduction("quick","jesse")
introduction("kent","clark")

def introduction(first_name,last_name):
  print("hello,my name is",first_name , last_name)

introduction("luke","skywalker")
introduction("jesse","quick")
introduction("clark","kent")

1 2 3
hello,my name is skywalker luke
hello,my name is quick jesse
hello,my name is kent clark
hello,my name is luke skywalker
hello,my name is jesse quick
hello,my name is clark kent

In [ ]:
def introduction(first_name,last_name):
  print("hello,my name is",first_name , last_name)

introduction(first_name ="james",last_name ="bond")
introduction(first_name ="skywalker",last_name ="luke")

hello,my name is james bond
hello,my name is skywalker luke

In [ ]:
def adding(a ,b ,c):
  print(a,"+",b,"+",c,"=",a+b+c)

#call the adding function here
adding(1,2,3)
adding(c=1, a=2 ,b=3)
adding(3 , c = 1 ,b = 2)
adding(4,3, c = 2)

1 + 2 + 3 = 6
2 + 3 + 1 = 6
3 + 2 + 1 = 6
4 + 3 + 2 = 9

In [27]:
#1
def list_sum(lst):
  s = 0

  for elem in lst:
      s += elem

  return s
print(list_sum([5, 4, 3]))

#2
def list_sum(lst):
  s= 0

  for elem in lst:
      s += elem
  return s
print(list_sum(5))

12

TypeError: ignored

In [3]:
def bmi(weight , height):
  return weight/height **2

print(bmi(52.5 , 16.5))

0.1928374655647383

In [7]:
#1
def is_a_triangle(a ,b ,c):
  if a + b <= c:
    return False
  if b + c <= a:
    return False
  if c + a <= b :
    return False
  return True

print(is_a_triangle(1,1,1))
print(is_a_triangle(1,1,3))
#2
def is_a_triangle(a, b, c):
  return a + b > c and  b + c > a and c + a > b

print(is_a_triangle(1,1,1))
print(is_a_triangle(1,1,3))
#3
def is_a_triangle(a, b, c):
  if a + b <= c or  b + c <= a or c + a <= b:
    return False
  return True

print(is_a_triangle(1,1,1))
print(is_a_triangle(1,1,3))

True
False
True
False
True
False

In [8]:
def is_a_triangle(a, b, c):
  return a + b > c and  b + c > a and c + a > b

def heron(a, b ,c):
  p =(a + b + c)/2
  return(p*(p-a)*(p-b)*(p-c)) **0.5

def area_of_triangle(a ,b , c):
  if not is_a_triangle(a,b,c):
    return heron(a,b,c)

print(area_of_triangle(1. ,1. ,2. ** .5))

None

In [9]:
my_tuple = tuple((1,2,"string"))
print(my_tuple)

my_list = [2,4,6]
print(my_list)             #outputs: [2,4,6]
print(tuple(my_list))   #output: <class 'list>
tup = tuple(my_list)  
print(tup)        #output: (2,4,6)
print(type(tup))    #output:<class 'tuple'>

(1, 2, 'string')
[2, 4, 6]
(2, 4, 6)
(2, 4, 6)
<class 'tuple'>

In [10]:
my_tuple = ( 1, 10 ,100)
t1 = my_tuple + (1000,10000)
t2 = my_tuple * 3

print(len(t2))
print(t1)
print(t2)
print(10 in my_tuple)
print(-10 not in my_tuple)

9
(1, 10, 100, 1000, 10000)
(1, 10, 100, 1, 10, 100, 1, 10, 100)
True
True

In [18]:
dictionary ={"cat":"chat" ,"dog" : "chien" ,"horse" :"cheval"}
phone_numbers = {"boss ": 5551234567, "suzy" : 2265785431}
empty_dictionary = {}
#print the value here
print(dictionary['cat'])
print(phone_numbers['suzy'])

chat
2265785431

In [12]:
dictionary ={"cat,":"chat" ,"dog" : "chien" ,"horse" :"cheval"}
for key in dictionary.keys():
  print(key, "->" ,dictionary[key])

cat, -> chat
dog -> chien
horse -> cheval

In [13]:
dictionary ={"cat,":"chat" ,"dog" : "chien" ,"horse" :"cheval"}
words = ['cat' ,'lion' ,'horse']
for word in words:
  if word in dictionary:
    print(word, "->", dictionary[word])
  else:
    print(word,"is not in dictionary")

cat is not in dictionary
lion is not in dictionary
horse -> cheval

In [28]:
while True:
  name = input("enter the studen's name : ")
  if name == ' ' :
    break

  score = int(input("enter the student score(0-10) :"))
  if score not in range(0,11):
    break

  if name in scholl_class:
    school_class[name] += (score,)

  else:
    school_class[name] = (score,)
    
for name in sorted(school_class.keys()):
  adding =0
  counter = 0
  for score in school_class[name]:
    adding += score
    counter += 1
  print(name, ":", adding/counter)

enter the studen's name : yuli
enter the student score(0-10) :8

NameError: ignored

In [22]:
try:
  value =int(input('enter a natural number:'))
  print("the reciprocal of", value ,'is',1/value)
except:
  print(' i do not know what to do')

enter a natural number:5
the reciprocal of 5 is 0.2

In [23]:
while True:
  try:
    number =int(input('enter an int number :'))
    print(5/number)
    break

  except ValueError:
    print('wrong value.')
  except ZeroDivisionError:
    print('sorry, i cannot divide by zero.')
  except:
    print('i dont know what to do.......')

enter an int number :7
0.7142857142857143

In [24]:
try:
  value =int(input('enter a natural value:'))
  print(value/value)
except ValueError:
  print("bad input.......")
except ZeroDivisionError:
  print("very bad input.......")
except:
  print("boooo!")

enter a natural value:10
1.0